@font-face {
    font-family: 'Montserrat Bold';
    src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url("../fonts/HelveticaNeue-Light.otf")
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: auto !important;
    height: 100vh;
    position: relative;
    font-family: "Helvetica Neue Light", sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    z-index: 100000000;
    margin-left: 40%;
}

h1{
    font-family: "Montserrat Bold", sans-serif;
    padding: 2.5rem 0 0 2.5rem;
}

/*Remove navbar background and stylize brand*/
.navbar{
    background: white !important;
}
.brand{
    font-family:"Montserrat Bold", sans-serif;
}
.navbar-brand{
    font-family: "Montserrat Bold", sans-serif;
    color: #333 !important;
    transition: .3s all ease-in;
}
.navbar-brand:hover{
    color: #5c6791 !important;
    cursor: pointer;
}

.intro-project{
    padding: .75rem 0 0 2.5rem;
}

.image-feature{

    background: url("../img/desiphic_big.png") no-repeat center center;
    min-height: 24rem;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

@media only screen and (max-width: 500px){

.image-feature{
    min-height: 20rem;
}
}

.research{
    height: 800px;
}