@font-face {
    font-family: 'Montserrat Bold';
    src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url("../fonts/HelveticaNeue-Light.otf")
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: auto !important;
    height: 100vh;
    position: relative;
    font-family: "Helvetica Neue Light", sans-serif;
}

footer{
    position: static !important;
}

/*Preloader Div Style*/
#preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
    height: 100%;
}

#status {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    padding: 0;
}

/*Add white background to sections*/
.section{
    background: white;
}

/*Remove navbar background and stylize brand*/
.navbar{
    background: none !important;
}
.brand{
    font-family:"Montserrat Bold", sans-serif;
}
.navbar-brand{
    font-family: "Montserrat Bold", sans-serif;
    color: #333 !important;
    transition: .3s all ease-in;
}
.navbar-brand:hover{
    color: #5c6791 !important;
    cursor: pointer;
}

/*Hello World Screen*/
.intro{
    margin: 1.25rem;
}
.avatar{
    width: 100%;
    height: 100%;
    max-width: 15%;
    max-height: 15%;
    margin: 20px;

}
.my-name{
    font: 2.4rem "Montserrat Bold", sans-serif;
    color: #5c6791;
}


